parameters:
    level: 6
    paths:
        - src
        - tests
    
    # Ignore patterns for external dependencies
    excludePaths:
        - vendor
        - rust
    
    # Platform settings for consistent analysis
    phpVersion: 80300
    
    # Bootstrap for better autoloading
    bootstrapFiles:
        - vendor/autoload.php
    
    # Custom rules for router library
    ignoreErrors:
        # Allow mixed types for route handlers (by design)
        - '#Parameter \#\d+ \$handler of method HighPerApp\\HighPer\\Router\\Router::\w+\(\) has no value type specified in iterable type array#'
        - '#Method HighPerApp\\HighPer\\Router\\Route::getHandler\(\) should return mixed but returns mixed#'
        
        # Allow FFI-related mixed types and calls
        - '#Cannot call method \w+\(\) on FFI\|null#'
        - '#Call to an undefined method FFI::\w+\(\)#'
        - '#Property HighPerApp\\HighPer\\Router\\Engines\\RustFFIEngine::\$ffi has no type specified#'
        - '#Parameter \#\d+ \$\w+ of method FFI::\w+\(\) expects \w+, mixed given#'
        
        # Allow test-related patterns
        - '#Call to method \w+\(\) on an unknown class Mock_\w+#'
        - '#Cannot call method \w+\(\) on .+\|null#'
        - '#Call to an undefined method .+::\w+\(\)#'
        - '#Method .+::\w+\(\) has no return type specified#'
        - '#Method .+::\w+\(\) has parameter .+ with no type specified#'
        - '#Ignored error pattern .+ was not matched in reported errors#'
        
        # Ignore specific test method calls that are expected to fail
        - '#Call to an undefined method HighPerApp\\HighPer\\Router\\Router::\w+\(\)#'
        - '#Call to an undefined method HighPerApp\\HighPer\\Router\\Route::\w+\(\)#'
        - '#Call to an undefined method Psr\\Http\\Message\\ServerRequestInterface::\w+\(\)#'